* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container_header_fixed {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cad5e1;
}

.header_fixed {
    background-color: #f5f8fa;
    margin: 0 auto;
    width: 1080px;
}

.language, .contattaci {
    line-height: 70px;
    color: #516374;
    font-size: 14px;
    padding: 3px 0;
}

.language {
    border-right: 2px solid #cad5e1;
    cursor: pointer;
}

.contattaci {
    margin-left: 15px;
    cursor: pointer;
}


.fa-globe-europe {
    padding-right: 10px;
    font-size: 14px;
}

.fa-sort-down {
    padding: 0 15px;
    font-size: 18px;
    color: #7c97b5;
}

.transparent_button, .white_button, .red_button {
    height: 30px;
    padding: 0 15px;;
    margin: 20px 5px;
    font-size: 12px;
    float: right;
    cursor: pointer;
}

.red_button {
    background-color: #fc7455;
    border: none;
    border-radius: 3px;
    color: white;
}

.white_button {
    background-color: white;
    border: 1px solid #fc7455;
    color: #fc7455;
}

.white_button:hover {
    background-color: #f9efed;
}

.transparent_button {
    background-color: transparent;
    border: none;
}

.fa-search {
    color: #02a5bd;
    font-size: 15px;
}

.container_header_scroll {
    height: 80px;
}

.header_scroll {
    margin: 0 auto;
    width: 1080px;
}

#logo {
    position: absolute;
    padding: 25px 0;
}

.menù ul li{
    float: right;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    color: #33475b;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.container_header_scroll:after {
    content: "";
    display: table;
    clear: both;
}

.first_container {
    height: 680px;
    background-color: lightyellow;
    background-image: url("comunication_image.jpg");
    background-size: cover;
    background-position: bottom;
    border-bottom: 3px solid #33475c;
    box-shadow:-20px 10px 50px -20px #e0dede inset;
}

.first_text_container {
    margin: 0 auto;
    width: 1080px;
}

.first_text {
    width: 430px;
    padding: 85px 0;
}

.first_text>h1 {
    font-weight: 600;
    font-size: 50px;
    color: #33475b;
    padding-bottom: 10px;
}

.first_text>p {
    padding: 20px 0;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #605e5e;
}

.big_red_button {
    background-color: #fc7455;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 25px 40px;
    margin-bottom: 20px;
}

.big_red_button:hover,.red_button:hover,.learn_button:hover {
    background-color: #fc886f;
}

.first_text small {
    font-size: 10px;
}

.second_container {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #f5f8fa;
}

.rubik {
    width: 1080px;
    margin: auto;
}

#cubo {
    width: 260px;
    margin: 0 410px 0 410px;
}

h2 {
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: #33475b;
}

.rubik>h2 {
    padding: 0 0 20px 0;
}

.rubik>p {
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #605e5e;
    margin: 0 140px;
    text-align: center;
}

.third_container {
    width: 100%;
    background-color: #f5f8fa;
}

.four_blocks {
    width: 1080px;
    margin: 0 auto;
    padding: 0 60px 140px 60px;
}

.icona {
    height: 150px;
}

.block {
    width: 960px;
    background-color: white;
    text-align: center;
    margin-bottom: 39px;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px #ededed;
}

.block:hover {
    box-shadow: 5px 5px 20px 5px #e5e5e5;
}

.sub-block_left {
    width: 425px;
    padding: 0 80.5px;
    float: left;
}

.learn_button {
    text-align: center;
    color: white;
    background-color: #fc7455;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 24px;
    margin-top: 24px;
}

.sub-block_right {
    float: left;
    width: 471px;
}

h3 {
    text-align: left;
    font-size: 25px;
    color: #33475b;
}

.sub-block_right>h3 {
    margin: 11px 0;
}

p {
    text-align: left;
    line-height: 22px;
    font-size: 12px;
    color: #605e5e;
}

.sub-block_right>p {
    margin: 14px 0;
}

h4 {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #33475b;
}

.sub-block_right>h4 {
    margin: 30px 0 15px;
}

.horizontal_checked_list {
    text-align: left;
    font-size: 12px;
}

span>.fa-check-circle {
    margin-right: 8px;
    margin-left: 18px;
}

.fa-check-circle {
    color: #fc7455;
    font-size: 15px;
}

span>.fas_none {
    margin-left: 0;
}

.block:after {
    content: "";
    display: table;
    clear: both;
}

.block_vert {
    float: left;
    background-color: white;
    width: 294px;
    height: 592px;
    padding: 32px;
    box-shadow: 5px 5px 20px 5px #ededed;
}

.block_vert:hover {
    box-shadow: 5px 5px 20px 5px #e5e5e5;
}

#middle_block {
    margin: 0 39px;
}

.sub-block_top {
    text-align: center;
    width: 230px;
}

.sub-block_bottom>h3 {
    margin: 11px 0;
    font-size: 20px;
    text-align: center;
}

.sub-block_bottom>p {
    margin: 14px 0 30px 0;
}

.sub-block_bottom>hr {
    border: none;
    border-bottom: 1px solid #cfd0d1;
}

.sub-block_bottom>h4 {
    margin: 30px 0 14px 0;
    text-align: center;
}

.vertical_checked_list {
    font-size: 12px;
    line-height: 25px;
}

span>.vert-ceck {
    margin-left: 0;
    font-size: 15px;
}

.hr {
    margin: 25px 50px 5px 50px;
}

.four_blocks:after {
    content: "";
    display: table;
    clear: both;
}

.fourth_container {
    padding: 130px 0;
    background-image: linear-gradient(to right, #00aab7 , #00c4aa);
}

.fourth_sub-container {
    width: 1080px;
    margin: auto;
}

.fourth_sub-container>h2 {
    margin: 0 150px;
    color: white;
    line-height: 50px;
}

.fourth_sub-container>p {
    text-align: center;
    margin: 0 150px;
    padding-top: 20px;
    color: white;
    font-size: 15px;
}

.table {
    margin-top: 70px;
    box-sizing: content-box;
}

.table_block {
    width: 269px;
    float: left;
}

.table_block.fl {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 30px;
}

.table_block.sl {
    border-right: 1px solid white;
    padding: 30px;
}

.fl.none,.sl.none {
    border-right: 0;
}

.loghetto {
    height: 33px;
    margin: 5px auto 15px auto;
}

.fl>h2 {
    color: white;
    font-size: 40px;
}

.sl>h2 {
    color: white;
    font-size: 40px;
}

h2>spam {
    font-weight: 400;
    font-size: 15px;
}

.fl>p {
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}

.sl>p {
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}

.first_line_table:after {
    content: "";
    display: table;
    clear: both;
}

.second_line_table:after {
    content: "";
    display: table;
    clear: both;
}

.fifth_container {
    padding-top: 100px;
    background-color: lightyellow;
}

.clienti_container {
    width: 1080px;
    margin: auto;
    background-color: lightblue;
}

.clienti_sub-cont {
    width: 330px;
    padding: 20px 40px 20px 40px;
}

.clienti_sub-cont>h3 {
    font-weight: 800;
    font-size: 35px;
}

.clienti_sub-cont>p {
    font-size: 16px;
    line-height: 30px;
    padding-top: 10px;
}
